<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Jugador 1 = <%= session["blackjack"].jugadaJ1[1]%> - <%= session["blackjack"].jugadaJ1[2]%> Total = 
	<%= session["blackjack"].sumadaJ1%></h1>
	<h2>Casa      = <%= session["blackjack"].jugadaJ1[2]%> - <%= session["partida"].jugadaJ1[2]%> Total = 
	<%= session["blackjack"].sumadaJ2%></h2>
</body>
</html>
