<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Jugador 1 = <%= session["partida"].nro_aleatorio_j1%> - <%= session["partida"].nro_aleatorio_j1%> Total = <%= session["partida"].sumadaJ1%></h1>
	<h2>Casa      = <%= session["partida"].nro_aleatorio_j1%> - <%= session["partida"].nro_aleatorio_j1%> Total = <%= session["partida"].sumadaJ2%></h2>
</body>
</html>
